//- 文章列表项
mixin postListItem(item)
  .post-list-item
    a.post-title(href= url_for(item.path)) #{item.title}

    .post-description!= truncate(strip_html(item.summary || item.content), {length: 160})

    +postMeta(item, true)

//- 文章详情
mixin postDetail(data)
  .post
    .post-title
      h3 #{data.title}
      if data.date
        i.date= date(data.date, 'YYYY-MM-DD')

    .post-content.markdown-body!= data.content

    +postMeta(data, false)

//- 文章列表分页
mixin postListPagination()
  if page.prev > 0 || page.next > 0
    .post-pagination
      if page.prev
        a.prev(role="navigation" href= url_for(page.prev_link))= __('Back to Previous Page')

      if page.next
        a.next(role="navigation" href= url_for(page.next_link))= __('Read More Posts')

//- 文章元信息
mixin postMeta(item, isList)
  ul.post-meta
    if isList
      if item.date
        li
          i.iconfont.icon-time-circle-o
          =date(item.date, 'YYYY-MM-DD')

      if theme.comments.disqus
        li
          i.iconfont.icon-message
          a(href= url_for(`${item.path}#comments`))= __('Comments')

    if item.categories.length > 0
      li
        i.iconfont.icon-folder
        - item.categories.sort('posts').each(function(item) {
          a.tag(href= `${config.root}${item.path}`, title= item.name) #{item.name}
        - });

    if item.tags.length > 0
      li
        i.iconfont.icon-tags
        - item.tags.sort('posts').each(function(item) {
          a.tag(href= `${config.root}${item.path}`, title= item.name) #{item.name}
        - });
